.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Home --------------------------------*/

#main-content {
  /* border: 1px solid red; */
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-areas: 
  "popular overview"
  "newsletter newsletter"
  ;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  gap: 30px;
}

#hero-image {
  /* border: 1px solid red; */
  background: url("https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701223614.jpg") no-repeat center;
  height: 500px;
  background-size: cover;
  /* opacity: .6; */
}

#hero-text {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: ghostwhite;
  font-size: 75px;
}

#popular-scroll { 
  border: 1px solid red;
  width: 100%;
  height: 350px;
  grid-area: popular;
  font-size: 30px;
}

#account-overview {
  border: 1px solid red;
  width: 100%;
  height: 350px;
  grid-area: overview;
  justify-self: end;
  font-size: 30px;
}

#newsletter {
  border: 1px solid red;
  width: 100%;
  height: 200px;
  grid-area: newsletter;
  font-size: 30px;
}

/* /Home -------------------------------*/

/* MediaDetails */

/* /MediaDetails */

/* SearchResults */

/* /SearchResults */

/* NavBar ------------------------------ */

#navbar {
  /* border: 1px solid blue; */
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

a {
  padding: 0 10px;
  text-decoration: none;
  font-size: 20px;
}

#search-input {
  padding: 0 0 0 0;
  width: 250px;
  height: 30px;
}

#search-button {
  height: 34px;
  width: 75px;
}

/* NavBar ---------------------------- */

/* Footer ---------------------------- */

#footer {
  text-align: center;
  border: 1px solid green;
  width: 100vw;
  height: 150px;
  font-size: 30px;
}

/* Footer ---------------------------- */